@using NorthWind.Core.Entity;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers;
@model Order;
@{
    ViewData["Title"] = "Order";
    var odrep = ViewData["orderResponse"] as List<Order>;
}

<div class="app-main flex-column flex-row-fluid m-0" id="kt_app_main">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid" id="content">
        <div id="grid">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Order" id="Create">Create</button>          
            <div class="modal fade" id="Order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="kt_modal_add_order_form"
                                class="form fv-plugins-bootstrap5 fv-plugins-framework mb-10px" method="post"
                                enctype="multipart/form-data">
                                <div>
                                    <input type="hidden" asp-for="OrderID" />
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">CustomerID</label>
                                    <input type="text" class="form-control " id="customerId">
                                    <!--end::Input-->
                                </div>
                                <div class="">
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">EmployeeID</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" class="form-control" id="employeeId">
                                    <!--end::Input-->
                                </div>
                                <div>
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">OrderDate</label>
                                    <!--end::Label-->
                                    <input type="text" class="form-control" id="orderDate">
                                    <!--begin::Input-->
                                </div>
                                <div>
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">RequiredDate</label>
                                    <!--end::Label-->
                                    <input type="text" class="form-control" id="requiredDate">
                                    <!--begin::Input-->
                                </div>
                                <div>
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">ShippedDate</label>
                                    <!--end::Label-->
                                    <input type="text"  class="form-control" id="shippedDate">
                                    <!--begin::Input-->
                                </div>
                                <div>
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">ShipVia</label>
                                    <!--end::Label-->

                                    <!--begin::Input-->
                                    <input type="text" class="form-control" id="shipVia">
                                    <!--end::Input-->
                                </div>
                                <div>
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">Freight</label>
                                    <!--end::Label-->

                                    <!--begin::Input-->
                                    <input type="text" class="form-control" id="freight">
                                    <!--end::Input-->
                                </div>
                                <div>
                                    <label class="required fw-semibold fs-6 mb-2">ShipName</label>
                                    <input type="text"  class="form-control" id="shipName">
                                    <br>
                                </div>
                                <div>
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">ShipAddress</label>
                                    <!--end::Label-->
                                    <input type="text" class="form-control" id="shipAddress">
                                    <!--begin::Input-->
                                </div>
                                <div>
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">ShipCity</label>
                                    <!--end::Label-->

                                    <!--begin::Input-->
                                    <input type="text" class="form-control" id="shipCity">
                                    <!--end::Input-->
                                </div>
                                <div>
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">ShipRegion</label>
                                    <!--end::Label-->

                                    <!--begin::Input-->
                                    <input type="text" class="form-control" id="shipRegion">
                                    <!--end::Input-->
                                </div>
                                <!--begin::Input group-->
                                <div>
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">ShipPostalCode</label>
                                    <!--end::Label-->

                                    <!--begin::Input-->
                                    <input type="text" class="form-control" id="shipPostalCode">
                                    <!--end::Input-->
                                </div>
                                <div>
                                    <!--begin::Label-->
                                    <label class="required fw-semibold fs-6 mb-2">ShipCountry</label>
                                    <!--end::Label-->

                                    <!--begin::Input-->
                                    <input type="text" class="form-control" id="shipCountry">
                                    <!--end::Input-->
                                </div>
                                <hr>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="sumbit" class="btn btn-primary" id="btnCreateOrder">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts
{
    <script src="/js/page/order.js" type="module"></script>
}
