<div class="d-flex flex-column justify-content-between h-100 homenumenu-item menu-accordionver-scroll-overlay-y my-2 mx-5 d-flex flex-column"
   id="kt_app_sidebar_main" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto"
   data-kt-scroll-dependencies="#kt_app_header" data-kt-scroll-wrappers="#kt_app_main" data-kt-scroll-offset="5px"
   style="height: 356px;">
   <!--begin::Sidebar menu-->
   <div id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false"
      class="flex-column-fluid menu menu-sub-indention menu-column menu-rounded menu-active-bg mb-7">
      <!--begin:Menu item-->
      <!--end:Menu item--><!--begin:Menu item-->
      <div data-kt-menu-trigger="click" class="menu-item here menu-accordion hover show">
         <!--begin:Menu link--><span
            class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-chart-line-star fs-1"><span
            class="path1"></span><span class="path2"></span><span class="path3"></span></i></span><span
            class="menu-title">Apps</span><span
            class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
         <div class="menu-sub menu-sub-accordion show" style="" kt-hidden-height="826">
            <!--begin:Menu item-->
            <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
<!--end:Menu link--><!--begin:Menu sub-->

               <!--end:Menu sub-->
            </div>
            <!--end:Menu item--><!--begin:Menu item-->

            <!--end:Menu item-->
            <!--end:Menu item-->
            <!--end:Menu item--><!--begin:Menu item-->
            <div data-kt-menu-trigger="click" class="menu-item here menu-accordion">
               <!--begin:Menu link--><span
                  class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                  class="menu-title">User Management</span><span
                  class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->

               <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;"
                  kt-hidden-height="245">
                  <!--begin:Menu item-->
                  <div data-kt-menu-trigger="click" class="menu-item here menu-accordion mb-1">
                     <!--begin:Menu link--><span class="menu-link"><span class="menu-bullet"><span
                        class="bullet bullet-dot"></span></span><span
                        class="menu-title">Users</span><span
                        class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                     <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;"
                        kt-hidden-height="97">
                        <!--begin:Menu item-->
                        <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link active" id="userclick"
                              asp-controller="User" asp-action="UserForm"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">Users
                           Form</span></a><!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                           <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link active" id="userclick"
                              asp-controller="User" asp-action="Userlist"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">Users
                           List</span></a><!--end:Menu link-->
                        </div>
                     </div>
                     <!--end:Menu sub-->
                  </div>
                  <!--end:Menu item--><!--begin:Menu item-->
                  <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                    <!--begin:Menu sub-->
                     <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link" href="#"
                              data-kt-page="pro"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">Roles
                           List<span
                              class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-original-title="Upgrade to Pro to get this"
                              data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                        </div>
                        <!--end:Menu item--><!--begin:Menu item-->
                        <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link" href="#"
                              data-kt-page="pro"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">View
                           Role<span
                              class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-original-title="Upgrade to Pro to get this"
                              data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                     </div>
                     <!--end:Menu sub-->
                  </div>
                  <!--end:Menu item--><!--begin:Menu item-->

                  <!--end:Menu item-->
               </div>
               <!--end:Menu sub-->
            </div>
            <!--end:Menu item-->

                        <!--end:Menu item--><!--begin:Menu item-->
            <div data-kt-menu-trigger="click" class="menu-item here menu-accordion">
               <!--begin:Menu link--><span
                  class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                  class="menu-title">Customers Management</span><span
                  class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->

               <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;"
                  kt-hidden-height="245">
                  <!--begin:Menu item-->
                  <div data-kt-menu-trigger="click" class="menu-item here menu-accordion mb-1">
                     <!--begin:Menu link--><span class="menu-link"><span class="menu-bullet"><span
                        class="bullet bullet-dot"></span></span><span
                        class="menu-title">Customers</span><span
                        class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                     <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;"
                        kt-hidden-height="97">
                           <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link active" id="userclick"
                              asp-controller="Customer" asp-action="CustomerList"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">Customers
                           List</span></a><!--end:Menu link-->
                        </div>
                     </div>
                     <!--end:Menu sub-->
                  </div>
                  <!--end:Menu item--><!--begin:Menu item-->
                  <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                    <!--begin:Menu sub-->
                     <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link" href="#"
                              data-kt-page="pro"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">Roles
                           List<span
                              class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-original-title="Upgrade to Pro to get this"
                              data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                        </div>
                        <!--end:Menu item--><!--begin:Menu item-->
                        <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link" href="#"
                              data-kt-page="pro"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">View
                           Role<span
                              class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-original-title="Upgrade to Pro to get this"
                              data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                     </div>
                     <!--end:Menu sub-->
                  </div>
                  <!--end:Menu item--><!--begin:Menu item-->

                  <!--end:Menu item-->
               </div>
               <!--end:Menu sub-->
            </div>
            <!--end:Menu item-->

               <div data-kt-menu-trigger="click" class="menu-item here menu-accordion">
               <!--begin:Menu link--><span
                  class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                  class="menu-title">Product Management</span><span
                  class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->

               <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;"
                  kt-hidden-height="245">
                  <!--begin:Menu item-->
                  <div data-kt-menu-trigger="click" class="menu-item here menu-accordion mb-1">
                     <!--begin:Menu link--><span class="menu-link"><span class="menu-bullet"><span
                        class="bullet bullet-dot"></span></span><span
                        class="menu-title">Products</span><span
                        class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                     <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;"
                        kt-hidden-height="97">
                           <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link active" id="userclick"
                              asp-controller="Product" asp-action="Product"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">Products
                           List</span></a><!--end:Menu link-->
                        </div>
                     </div>
                     <!--end:Menu sub-->
                  </div>
                  <!--end:Menu item--><!--begin:Menu item-->
                  <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                    <!--begin:Menu sub-->
                     <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link" href="#"
                              data-kt-page="pro"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">Roles
                           List<span
                              class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-original-title="Upgrade to Pro to get this"
                              data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                        </div>
                        <!--end:Menu item--><!--begin:Menu item-->
                        <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link" href="#"
                              data-kt-page="pro"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">View
                           Role<span
                              class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-original-title="Upgrade to Pro to get this"
                              data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                     </div>
                     <!--end:Menu sub-->
                  </div>
                  <!--end:Menu item--><!--begin:Menu item-->

                  <!--end:Menu item-->
               </div>
               <!--end:Menu sub-->
            </div>

                           <div data-kt-menu-trigger="click" class="menu-item here menu-accordion">
               <!--begin:Menu link--><span
                  class="menu-link"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                  class="menu-title">Order Management</span><span
                  class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->

               <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;"
                  kt-hidden-height="245">
                  <!--begin:Menu item-->
                  <div data-kt-menu-trigger="click" class="menu-item here menu-accordion mb-1">
                     <!--begin:Menu link--><span class="menu-link"><span class="menu-bullet"><span
                        class="bullet bullet-dot"></span></span><span
                        class="menu-title">Orders</span><span
                        class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
                     <div class="menu-sub menu-sub-accordion" style="display: none; overflow: hidden;"
                        kt-hidden-height="97">
                           <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link active" id="userclick"
                              asp-controller="Order" asp-action="Order"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">Order
                           List</span></a><!--end:Menu link-->
                        </div>
                     </div>
                     <!--end:Menu sub-->
                  </div>
                  <!--end:Menu item--><!--begin:Menu item-->
                  <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                    <!--begin:Menu sub-->
                     <div class="menu-sub menu-sub-accordion">
                        <!--begin:Menu item-->
                        <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link" href="#"
                              data-kt-page="pro"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">Roles
                           List<span
                              class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-original-title="Upgrade to Pro to get this"
                              data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                        </div>
                        <!--end:Menu item--><!--begin:Menu item-->
                        <div class="menu-item">
                           <!--begin:Menu link--><a class="menu-link" href="#"
                              data-kt-page="pro"><span class="menu-bullet"><span
                              class="bullet bullet-dot"></span></span><span class="menu-title">View
                           Role<span
                              class="badge badge-pro badge-light-danger fw-semibold fs-8 px-2 py-1 ms-1"
                              data-bs-toggle="tooltip"
                              data-bs-original-title="Upgrade to Pro to get this"
                              data-kt-initialized="1">Pro</span></span></a><!--end:Menu link-->
                        </div>
                        <!--end:Menu item-->
                     </div>
                     <!--end:Menu sub-->
                  </div>
                  <!--end:Menu item--><!--begin:Menu item-->

                  <!--end:Menu item-->
               </div>
               <!--end:Menu sub-->
            </div>
         </div>
         <!--end:Menu sub-->
      </div>
      <!--end:Menu item--><!--begin:Menu item-->
      <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
         <!--begin:Menu link--><span
            class="menu-link"><span class="menu-icon"><i class="ki-duotone ki-rescue fs-1"><span
            class="path1"></span><span class="path2"></span></i></span><span
            class="menu-title">Help</span><span
            class="menu-arrow"></span></span><!--end:Menu link--><!--begin:Menu sub-->
         <div class="menu-sub menu-sub-accordion">
            <!--begin:Menu item-->
            <div class="menu-item">
               <!--begin:Menu link--><a class="menu-link"
                  href="https://preview.keenthemes.com/html/saul-html-pro/docs/base/utilities" target="_blank"
                  data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click"
                  data-bs-placement="right" data-bs-original-title="Check out over 200 in-house components"
                  data-kt-initialized="1"><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span
                  class="menu-title">Components</span></a><!--end:Menu link-->
            </div>
            <!--end:Menu item--><!--begin:Menu item-->
            <div class="menu-item">
               <!--begin:Menu link--><a class="menu-link"
                  href="https://preview.keenthemes.com/html/saul-html-pro/docs" target="_blank"
                  data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click"
                  data-bs-placement="right" data-bs-original-title="Check out the complete documentation"
                  data-kt-initialized="1"><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span
                  class="menu-title">Documentation</span></a><!--end:Menu link-->
            </div>
            <!--end:Menu item--><!--begin:Menu item-->
            <div class="menu-item">
               <!--begin:Menu link--><a class="menu-link"
                  href="/saul-html-free/layout-builder.html" data-bs-toggle="tooltip" data-bs-trigger="hover"
                  data-bs-dismiss="click" data-bs-placement="right"
                  data-bs-original-title="Build your layout and export HTML for server side integration"
                  data-kt-initialized="1"><span class="menu-bullet"><span
                  class="bullet bullet-dot"></span></span><span class="menu-title">Layout
               Builder</span></a><!--end:Menu link-->
            </div>
            <!--end:Menu item--><!--begin:Menu item-->
            <div class="menu-item">
               <!--begin:Menu link--><a class="menu-link"
                  href="https://preview.keenthemes.com/html/saul-html-pro/docs/getting-started/changelog"
                  target="_blank"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span
                  class="menu-title">Changelog v1.0.1</span></a><!--end:Menu link-->
            </div>
            <!--end:Menu item-->
         </div>
         <!--end:Menu sub-->
      </div>
      <!--end:Menu item-->
   </div>
   <!--end::Sidebar menu-->
   <!--begin::Footer-->
   <!--end::Footer-->
</div>